.app {
  margin: 0;
  width: 100%;

  .app-map {
    @include panel-wide-right();
  }

  .app-query-time {
    color: $foreground-dark;
    float: right;
    font-size: 0.8em;
    font-style: italic;
    min-width: 12em;
    padding: 0.5em 0.8em 0.5em 0.5em;
    text-align: right;
    width: 50%;
  }

  nav {
    border-bottom: 1px solid #ccc;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 50%;
  }
}

.use-current {
  color: $foreground-dark;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.5em;
  position: absolute;
  right: 0.3em;
  top: 0.1em;

  &:hover {
    color: $foreground-light;
  }
}

.spinner {
  width: 25px;
  height: 25px;
  margin: 100px auto;
  background-color: #fff;
  position: absolute;
  right: 0.3em;
  top: -3.4em;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.header {
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid $foreground-dark;
  margin-bottom: 1em;
  .header-title {
    color: $foreground-light;
    padding-left: 0.1em;
    font-family: "Allerta Stencil";
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.3em;
    font-weight: normal;
    text-transform: lowercase;
  }
  .header-metrics {
    color: $foreground-light;
    padding-left: 1em;
  }
}

.info {
  @include panel-short-left();
  padding: 20px 10px;
  border-radius: 4px;
  .info-text {
    padding: 1em;
    color: $foreground-light;
    a {
      color: $yellow-light;
    }
    .info-text-credits {
      font-weight: 500;
    }
  }

  .info-icons {
    .info-icon {
      display: inline-block;
      width: 3.5em;
      height: auto;
      margin-left: 0.7em;
      &.docker {
        opacity: 0.8;
      }
      &.kafka {
        width: 2em;
        opacity: 0.8;
      }
      &.go {
        width: 2.5em;
      }
      &.postgresql {
        width: 3.2em;
      }
    }
    .info-icons-text {
      text-align: center;
      font-size: 0.7em;
      color: rgba($foreground-light, 0.5);
      margin-bottom: 0.6em;
    }
  }
}

@media screen and (max-width: 639px) {
  .info {
    @include panel-narrow-bottom;
    box-sizing: border-box;

    .info-text {
      margin-top: 0;
      padding-top: 0;
    }
  }
  .header {
    .header-title {
      font-size: 3em;
      padding-left: 0.2em;
    }
    .header-metrics {
      display: none;
    }
  }

  .app {
    .app-map {
      @include panel-narrow-top();
    }

    nav {
      width: 100%;
    }
  }
}

.page {
  background: #34495e;
}

.page-enter {
  background: #34495e;
  opacity: 0;
  &.page-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
  }
}

.page-leave {
  background: #34495e;
  opacity: 1;
  &.page-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
}
