.app {
  margin: 0;
  width: 100%;

  .app-map {
    @include panel-wide-right();
  }

  .app-query-time {
    color: $foreground-dark;
    float: right;
    font-size: 0.8em;
    font-style: italic;
    min-width: 12em;
    padding: 0.5em 0.8em 0.5em 0.5em;
    text-align: right;
    width: 50%;
  }

  nav {
    border-bottom: 1px solid #ccc;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 50%;
  }
}

@media screen and (max-width: 639px) {
  .app {
    .app-map {
      @include panel-narrow-top();
    }

    nav {
      width: 100%;
    }
  }
}

.page {
  background: #34495e;
}

.page-enter {
  background: #34495e;
  opacity: 0;
  &.page-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
  }
}

.page-leave {
  background: #34495e;
  opacity: 1;
  &.page-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
}
